In [5]:
import pandas as pd
stocks1 = pd.read_csv(r'D:\bài tập thực hành\lab3\stocks1.csv')
print("Số lượng giá trị null trong mỗi cột:")
print(stocks1.isnull().sum())
mean_high = stocks1['high'].mean(skipna=True) 
stocks1['high'].fillna(mean_high, inplace=True)

mean_low = stocks1['low'].mean(skipna=True)  
stocks1['low'].fillna(mean_low, inplace=True)
print("\nThông tin tổng quan sau khi thay thế dữ liệu Null:")
print(stocks1.info())

Số lượng giá trị null trong mỗi cột:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

Thông tin tổng quan sau khi thay thế dữ liệu Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

C:\Users\e14\AppData\Local\Temp\ipykernel_2512\2432204440.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['high'].fillna(mean_high, inplace=True)
C:\Users\e14\AppData\Local\Temp\ipykernel_2512\2432204440.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['low'].fillna(mean_low, inplace=True)

In [15]:
import pandas as pd
stocks2 = pd.read_csv('stocks2.csv')
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
stocks['average'] = stocks[['open', 'high', 'low', 'close']].mean(axis=1)
print(stocks.head())

       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

       average
0  1663.030000
1  1691.240000
2  1698.047500
3  1308.801731
4  1645.895000
            AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN

LAB3.2.4

In [9]:
import pandas as pd
companies = pd.read_csv(r'D:\bài tập thực hành\lab3\companies.csv')
print("5 dòng đầu tiên của companies:")
print(companies.head())
merged_data = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')
avg_close_per_company = merged_data.groupby('name')['close'].mean().reset_index()
print("\nGiá đóng cửa trung bình cho mỗi công ty:")
print(avg_close_per_company.head())

5 dòng đầu tiên của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

Giá đóng cửa trung bình cho mỗi công ty:
   name     close
0  AAPL   174.674
1  AMZN  1671.046
2    FB   168.510
3  GOOG  1150.396
4  TSLA   281.904

LAB3.2.5

In [10]:
import pandas as pd
stocks.set_index(['date', 'symbol'], inplace=True)
avg_stock_data = stocks.groupby(['date', 'symbol']).agg({
    'open': 'mean',
    'high': 'mean',
    'low': 'mean',
    'close': 'mean',
    'volume': 'mean'
}).reset_index()
avg_stock_data.sort_values(by=['date', 'symbol'], inplace=True)
print(avg_stock_data.head())

       date symbol     open      high      low    close      volume
0  01-03-19   AAPL   174.28   175.150   172.89   174.97  25886167.0
1  01-03-19   AMZN  1655.13  1674.260  1651.00  1671.73   4974877.0
2  01-03-19     FB   162.60   163.132   161.69   162.28  11097770.0
3  01-03-19   GOOG  1124.90  1142.970  1124.75  1140.99   1450316.0
4  01-03-19   TSLA   306.94   307.130   291.90   294.79  22911375.0

LAB3.2.6

In [16]:
stocks2 = pd.read_csv('stocks2.csv')
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
stocks['average'] = stocks[['open', 'high', 'low', 'close']].mean(axis=1)
print(stocks.head())
pivot_table = stocks.pivot_table(
    values='close', 
    index='date', 
    columns='symbol', 
    aggfunc='mean'
)
volume_total = stocks.groupby('symbol')['volume'].sum()


pivot_table = pivot_table.join(volume_total, how='left')


pivot_table.rename(columns={'volume': 'total_volume'}, inplace=True)


pivot_table_sorted = pivot_table.sort_values(by='total_volume', ascending=False)

print(pivot_table_sorted.head())

       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

       average
0  1663.030000
1  1691.240000
2  1698.047500
3  1308.801731
4  1645.895000
            AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN